.featured-container {
    position: relative;
}

.featured-image img {
    top: 0;
    opacity: 0.9;
    width: 100%;
    height: 100%;

}

.featured-gradient {
    background: linear-gradient(0deg, rgba(20,20,20,1) 30%, rgba(255,255,255,0.007440476190476164) 90%);
    height: 700px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.featured-description {
    width: 390px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 63px;
    text-transform: uppercase;
    text-align: center;
    top: 120px;
    color: #fff;
    margin-left: 60px;
    margin-top: 280px;
    line-height: 63px;
}

.popular-container {
    color: #fff;
    margin-top: -250px;
    position: relative;
}

.popular-container h5 {
    position: relative;
}


.popular-list {
    color: #fff;
    white-space: nowrap;
    overflow-x: scroll;
}

.popular-list-movie {
    height: 480px;
}

.popular-list-movie img {
    width: 100%;
    height: 435px;
}

.popular-control-next {
    position: absolute;
    border: 1px solid red;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}
