@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:wght@800;900&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background-color: #141414;
}

a {
    color: #fff !important;
    font-size: 13px;
}
